body{
    background-color: rgb(4, 168, 4);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.cont1{
    background-color: rgba(187, 187, 187, 0.548);
    width: 30%;
    min-height: 400px;
    position: relative;
    display:inline-block;
    text-align:center;
}



.izq{
    background-color: rgba(187, 187, 187, 0.548);
    width: 30%;
    min-height: 400px;
    position: absolute;
    float:left;
    display:block;
    
}

.der{
    background-color: rgba(187, 187, 187, 0.548);
    width: 40%;
    min-height: 400px;
    position: absolute;
    float: right;
    display:block;
    
}

nav {margin:0;padding:0;box-sizing:border-box;font-size:20px;}
            
nav a{
    text-decoration:none;
    color:inherit;
    font-size:20px;
    } 
    nav li{
    display:inline-block;
    width:10%;
    padding:15px 10px;
    background-color:#000;
    border:1px solid #000;
    text-align:center;
    color:#fff;
    }
    nav li:hover{
    background-color:#fff;
    color:#000;
}

nav li{
    float:left;
    width:17.8%;
    padding:15px 10px;
    background-color:#000;
    border:1px solid #000;
    text-align:center;
    color:#fff;
}
