body{
    background: rgb(3,12,125);
    background: linear-gradient(90deg, rgba(3,12,125,1) 0%, rgba(0,165,218,1) 48%, rgba(162,0,255,1) 100%);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.cont1{
    background-color: rgba(187, 187, 187, 0.548);
    width: 30%;
    min-height: 400px;
    max-height: 100%;
    position: relative;
    display:inline-block;
    text-align:center;
    margin-bottom: 10px;
}

.cont2{
    background-color: rgba(187, 187, 187, 0.548);
    width: 30%;
    min-height: 500px;
    position: relative;
    display:inline-block;
    text-align:center;
}

.izq{
    background-color: rgba(187, 187, 187, 0.548);
    width: 30%;
    min-height: 400px;
    position: absolute;
    float:left;
    display:block;
}

.der{
    background-color: rgba(187, 187, 187, 0.548);
    width: 40%;
    min-height: 400px;
    position: absolute;
    float: right;
    display:block;
}

nav {margin:0;padding:0;box-sizing:border-box;font-size:20px;}
            
nav a{
    text-decoration:none;
    color:inherit;
    font-size:20px;
    } 
    nav li{
    display:inline-block;
    width:10%;
    padding:15px 10px;
    background-color:#000;
    border:1px solid #000;
    text-align:center;
    color:#fff;
    }
    nav li:hover{
    background-color:#fff;
    color:#000;
}

nav li{
    float:left;
    width:19.5%;
    padding:15px 10px;
    background-color:#000;
    border:1px solid #000;
    text-align:center;
    color:#fff;
}

.degr{
    background: rgba(224, 224, 224, 0.7);
    border-radius: 10px;
}